@model Blog.Models.Post
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo</title>
</head>
<body>
    <form action="/Post/Adiciona" method="post">
        <label>
            Titulo: <input name="Titulo" value="@Model.Titulo"/>
        </label>
        @Html.ValidationMessage("Titulo");
        <label>
            Resumo: <input name="Resumo" value="@Model.Resumo" />
        </label>
        @Html.ValidationMessage("Resumo");
        <label>
            Categoria: <input name="Categoria" value="@Model.Categoria"/>
        </label>
        @Html.ValidationMessage("Categoria");
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
