@model Blog.Models.Post
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visualiza</title>
</head>
<body>
    <form action="/Post/EditaPost" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <label>
            Titulo: <input name="Titulo" value="@Model.Titulo" maxlength="50" required data-msg-required="Título é obrigatório"/>
        </label>
        @Html.ValidationMessage("Titulo");
        <label>
            Resumo: <input name="Resumo" value="@Model.Resumo" required />
        </label>
        @Html.ValidationMessage("Resumo");
        <label>
            Categoria: <input name="Categoria" value="@Model.Categoria" />
        </label>
        @Html.ValidationMessage("Categoria");
        <input type="hidden" name="DataPublicacao" value="@Model.DataPublicacao" />
        <input type="hidden" name="Publicado" value="@Model.Publicado.ToString()" />
        <button type="submit">Alterar</button>
    </form>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script>
        $("form").validate();
    </script>
</body>
</html>
