@model Blog.Models.Post

<div class="form-group">
    @Html.LabelFor(p => p.Titulo)
    @Html.TextBoxFor(p => p.Titulo, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Titulo)
</div>
<div class="form-group">
    @Html.LabelFor(p => p.Resumo)
    @Html.TextAreaFor(p => p.Resumo, 7, 1, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Resumo)
</div>
<div class="form-group">
    @Html.LabelFor(p => p.Categoria)
    @Html.TextBoxFor(p => p.Categoria, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Categoria)
</div>
