@model Post;

@using (Html.BeginForm("EditaPost", "Post"))
{
    @Html.EditorFor(p => p);

    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.Publicado)
    @Html.HiddenFor(p => p.DataPublicacao)

    <button type="submit" class="btn btn-primary">Alterar</button>
}

@section Scripts
{
    @Html.Partial("_Scripts")
}